<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        </nav>
        <div class="about content">
            here's the about page
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>
